.content {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}

.elementBox {
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

p {
	color: #DAA520;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.description {
	color: #888888;
	text-align: center;
	height: 25px;
	line-height: 25px;
}

.btnBox {
	display: flex;
	width: 600px;
	margin: 0 auto;
}

.button {
	display: inline-block;
	margin: 0 auto;
	margin-top: 50px;
	width: 250px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border: 2px solid #DAA520;
	color: #DAA520;
	background-color: #222222;
}

.button:hover {
	background-color: #DAA520;
	color: #222222;
	cursor: pointer;
}