.content {
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
	display: flex;
}

.button {
	display: inline-block;
	margin: 10px auto;
	width: 350px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border: 2px solid #00FF00;
	color: #00FF00;
}

.button:hover {
	background-color: #00FF00;
	color: #222222;
}